<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Thanhrain</title>
</head>
<body>
    <h1>Heleo thanhrainaa</h1>
    <h2>Message: <%= message %></h2>
    <img src="image/323121745_1593667821098514_2571631777530345751_n.jpg" alt="">
</body>
</html>